<template>
    <transition :name="'fade-' + edited" mode="out-in">
        <div class="cell" @click="clickedCell()" :key="getCellByRowAndPosition" :aria-label="'Rij ' + (rowIndex + 1) + ', kolom ' + (cellIndex + 1)">
            {{ getCellByRowAndPosition }}
        </div>
    </transition>
</template>

<script>
    export default {
        name: "Cell",
        props: ['rowIndex', 'cellIndex'],
        data: () => {
            return {
                initalValue: null,
                edited: '',
            }
        },
        computed: {
            getCellByRowAndPosition() {
                return this.$store.getters.getCellByRowAndPosition(this.rowIndex, this.cellIndex);
            }
        },
        methods: {
            clickedCell() {
                this.$store.commit('countUp', {row: this.rowIndex, column: this.cellIndex});
                this.$store.commit('removeFibonacci');
            },
        },
        mounted() {
            this.initalValue = this.getCellByRowAndPosition;
        },
        beforeUpdate() {
            if (this.getCellByRowAndPosition !== this.initalValue) {
                if (this.getCellByRowAndPosition === null && this.initalValue >= 0) {
                    this.edited = 'green';
                } else {
                    this.edited = 'yellow';
                }
            }
        },
        updated() {
            this.initalValue = this.getCellByRowAndPosition;
        }
    }
</script>

<style scoped>
    .cell {
        flex-basis: 2%;
        min-height: 2ch;
        min-width: 1ch;
        padding: 2px;
        margin: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #ccc;
        border-radius: 3px;
        cursor: pointer;
        background-color: #E5E5E5;
    }

    .fade-yellow-leave-active, .fade-green-leave-active {
        transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
    }

    .fade-yellow-enter, .fade-yellow-leave-to {
        background-color: #EBDD0D;
    }

    .fade-green-enter, .fade-green-leave-to {
        background-color: #84bc2d; /* bekende kleurcode? */
    }
</style>
