<template>
    <div>
        <row v-for="(row, index) in getGrid.length" :key="index" :row-index="index"></row>
    </div>
</template>

<script>
    import Row from './Row';
    import { mapGetters } from 'vuex';

    export default {
        name: "Grid",
        components: {
            Row
        },
        computed: {
            ...mapGetters([
                'getGrid'
            ])
        }
    }
</script>
