<template>
    <div class="row" :aria-label="'Rij ' + (rowIndex + 1)">
        <cell v-for="(cell, index) in getCellsByRow(rowIndex)" :key="index" :cell-index="index" :row-index="rowIndex"></cell>
    </div>
</template>

<script>
    import Cell from './Cell';
    import { mapGetters } from 'vuex';

    export default {
        name: "Row",
        props: ['rowIndex'],
        components: {
            Cell
        },
        computed: {
            ...mapGetters([
                'getCellsByRow'
            ])
        }
    }
</script>

<style scoped>
    .row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex: 1;
        cursor: pointer;
    }
</style>
