<template>
  <div id="app">
    <grid></grid>
  </div>
</template>

<script>
    import Grid from './components/Grid'

    import { mapMutations } from 'vuex'

    export default {
        name: 'App',
        components: {
            Grid
        },
      methods: {
          ...mapMutations([
            'setInitalGrid'
          ])
      },
      beforeMount() {
          this.setInitalGrid();
      }
    }
</script>

<style>
    @import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

    #app {
      font-family: 'Lato', sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-align: center;
    }
</style>
